#oc-simplecontactform input {
    box-sizing: content-box;
    width: 98%;
}

#oc-simplecontactform textarea {
    width: 98%;
    max-width: 98%;
    min-height: 120px;
    box-sizing: content-box;
}

#oc-simplecontactform label {
    font-weight: bold;
}

#oc-simplecontactform .oc-prev-text {
    margin: 20px 0;
}
